@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

html{
	font-family: "Rubik";
}
body{
	margin: 0;
}
h1{
	text-align: center;
	font-size: 2rem;
	margin: 40px 0 20px 0;
	color: #2B54D2; /* cor da identidade visual */
	text-align: center;
}
#logo{
	margin-left: 30px;
	width: 130px;
	min-width: 90px;
}
header{
	background-color: #f5f5f5;
  	box-shadow: 0 2px 10px #06184b70;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 20px 0;
	border-bottom: 2px solid #2B54D2;
	margin: 0;
}
nav{
	align-content: center;
	margin-right: 20px;
	
}
nav a{
	font-weight: 500;
	padding: 10px 10px;
	border-radius: 30px;
	margin:0 10px 0 10px;
	border: 2px solid #2B54D2;
	/*border-radius: 10px;*/
	/*padding: 10px;*/
	background: whitesmoke;
	color: #06184b;
	text-decoration: none;
	transition: .4s;
}
nav a:hover{
	background: #2B54D2;
	box-shadow: 0 2px 10px #06184b70;
	color:whitesmoke;
	transition: .4s;
}

/* conteudo principal */
main{
	margin: 0 15px 0 15px;
	font-size: 18px;
}

/*#back{ esta dando mais problemas do q nunca
	background-size: cover;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 300px;
}*/

/* card */

.container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.card{
    display: flex;
    border: 2px solid rgba(46, 46, 46, 0.322);
    height: 420px;
    min-height: 105px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
	width: 300px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	padding: 20px;
	margin: 20px;
	text-align: center;
	animation: fadeIn 1s ease forwards;
	transition: .5s;
}
@keyframes fadeIn {
	from { opacity: 0; transform: translateY(20px); }
	to { opacity: 1; transform: translateY(0); }
}

.card p{
	text-align: justify;
}

.card:hover {
	transform: scale(1.09);
	box-shadow: 0 8px 20px 2px #06184b70;
	border-color: #2B54D2;
	transition: .5s;
  }

#img_card img{
	width: 70px;
	min-width: 20px;
}

.btn_card{
	margin:0px 10px 0 10px;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	transition: .4s;
	
	border: 2px solid #2B54D2;
	background: whitesmoke;
	color: #06184b;
}

.btn_card:hover{
	background: #2B54D2;
	box-shadow: 0 2px 10px #06184b70;
	color:whitesmoke;
	transition: .4s;
	
}

.title{
	font-weight: bold;
	text-align: center !important;
	margin: 20px;
	font-size: 19px	;
	color: #06184b;
}
b{
	color: #06184b;
}
footer{
	text-align: center;
}

@media (max-width: 600px) {
	.card {
	  width: 90%;
	  margin: 15px auto;
	}
	main {
	  font-size: 16px;
	}
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px; /* espaço entre os botões */
	  }
	
	  nav button {
		width: 100%;
		max-width: 200px; /* ou o que ficar melhor no seu layout */
		font-size: 16px;
	  }	
  }